<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SteamingServlet</display-name>
  
  <welcome-file-list>
    <welcome-file>getFileStream.html</welcome-file>
  </welcome-file-list>
  
  
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/msg/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CrossOrigin</filter-name>
    <filter-class>com.github.filters.CrossOrigin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CrossOrigin</filter-name>
    <url-pattern>/msg/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>Jersey Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
    <!-- JBOSS « The URI scheme vfs of the URI vfs:/C:/jboss/bin/content/
    Try using a different deployment mechanism such as explicitly declaring root resource 
    and provider classes using an extension of javax.ws.rs.core.Application
    <param-name>javax.ws.rs.core.Application</param-name>
     -->
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.gridhub.jersey.files</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Services</servlet-name>
    <url-pattern>/jersey1/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>My Resource</web-resource-name>
      <url-pattern>/auth/*</url-pattern>
      <url-pattern>/wd/hub/session</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>My Resource</realm-name>
  </login-config>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/jsp/401error.jsp</location>
  </error-page>
</web-app>